version: 2.2.{build}

environment:
    COVERALLS_REPO_TOKEN: 
      secure: RoEmApsXRqFebGBxdrnjuuPoy9+DpcTu5v2s5DCJdtrmh6EsYYN2r+A1e1IuhzUZ
    
install:
    - nuget restore
    
build:
  project: StatePrinter.sln
  verbosity: minimal
#  verbosity: detailed


after_test: 
    - packages\OpenCover.4.5.3522\OpenCover.Console.exe -register:user -filter:"+[StatePrinter]*" -target:"packages\NUnit.Runners.2.6.4\tools\nunit-console.exe" -targetargs:"StatePrinter.Tests\bin\debug\StatePrinter.Tests.dll /domain:single /noshadow" -output:"coverage.xml"

    - packages\coveralls.io.1.1.86\tools\coveralls.net.exe --opencover "coverage.xml"
    
